html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    background: #222;
    color: #fff;
    font-family: sans-serif;
}

h4 {
    margin: 3px 0;
}

input {
    padding: 10px;
    border: 0;
    border-bottom: 3px solid #fff;
    background: transparent;
    color: #fff;
    /*margin: 5px;*/
    /*border-radius: 5px;*/
}

button {
    padding: 10px 20px;
    border: 3px solid #fff;
    background: transparent;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .25s, color .25s;
}

button.attached {
    position: relative;
    border-radius: 10px 10px 10px 0;
}

button.attached::before {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -3px;
    content: ' ';
    height: 20px;
    width: 3px;
    background: #222;
    transition: height .25s;
}

button:hover {
    background: #fff;
    color: #111;
}

button:hover::before {
    height: 0;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 1;
    transition: opacity .2s;
}

a:hover {
    opacity: 0.6;
}

.nav {
    padding: 5px 10px;
    background: #333;
    border-bottom: 2px solid;
    border-image: linear-gradient(180deg, #333, #222);
    margin-bottom: 5px;
}

#user-hook {
    display: inline-block;
    margin-left: 10px;
}

#user-hook > div::before {
    display: inline-block;
    content: '//';
    margin-right: 10px;
}

div.links.right {
    float: right;
    text-align: right;
}

div.links > a:not(:last-child):after {
    content: '/';
    margin: 0 4px;
}

#app {
    position: fixed; /* yeah don't ask */
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.lobby {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.box {
    position: relative;
    display: inline-block;
    height: 200px;
    margin-top: 10px;
}

.box h3 {
    margin-top: 0;
}

.box.left {
    padding-right: 40px;
    text-align: right;
    border-right: 1px solid #fff;
}

.box.left::after {
    position: absolute;
    content: 'OR';
    background: #222;
    top: 83px;
    right: -11px;
    font-weight: 200;
    padding: 5px 0;
}

.box.right {
    padding-left: 40px;
    text-align: left;
}

button:not(:last-of-type) {
    margin-right: 10px;
}

button.t {
    margin-top: 10px;
}

.gamebox {
    position: relative;
    height: 100%;
    width: 100%;
}

.gamebox > * {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.gamebox > .menu {
    width: 30%;
}

.gamebox > .game {
    width: 70%;
    height: 100%;
    text-align: center;
}

.game > * {
    display: block;
    position: relative;
}

.menu ul.players {
    margin: 0;
    list-style: '@';
}

.game select {
    padding: 10px;
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
}

.game img {
    width: auto;
    height: 90%;
}

.game.party select {
    display: none;
}